.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.error-msg {
    color: red;
}

.panel {
    min-height: 200px;
}

.file-list {
    list-style: none;
}

.file-list .glyphicon {
    color: red;
}